<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../assets/scss/all.scss" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="py-5 bg-light">
      <!-- 選單按鈕 -->
      <section class="container max-w-1076 py-0 mb-4">
        <div class="d-flex justify-content-center">
          <a
            type="button"
            class="btn btn-third d-flex justify-content-center align-items-center me-4 border border-1 border-gray-300 rounded-xl"
            href="index.html"
          >
            <span class="material-symbols-outlined me-1 fs-5"> face </span>

            <span>個人資料</span>
          </a>

          <a
            type="button"
            class="btn btn-third d-flex justify-content-center align-items-center me-4 border border-1 border-gray-300 rounded-xl"
            href="appointment-record.html"
          >
            <span class="material-symbols-outlined me-1 fs-5">
              pending_actions
            </span>

            <span>預約紀錄</span>
          </a>

          <a
            type="button"
            class="btn btn-third d-flex justify-content-center align-items-center me-4 border border-1 border-gray-300 rounded-xl"
            href="career_plan.html"
          >
            <span class="material-symbols-outlined me-1 fs-5"> list_alt </span>

            <span>職旅計畫</span>
          </a>
        </div>
      </section>

      <!-- 表單 -->
      <section class="container p-6 shadow max-w-1076 bg-white rounded-4">
        <form action="">
          <!-- 職旅計劃概況 -->
          <div class="row border-bottom mb-6">
            <!-- 職旅計劃概況標題 -->
            <div class="col-4">
              <div class="mb-3">
                <h2 class="fs-3 fw-medium lh-sm">職旅計劃概況</h2>
              </div>
              <div class="d-flex">
                <p class="me-1 mb-0 text-gray-600">欄位皆為</p>
                <span
                  class="px-2 py-1 fs-7 text-white fw-medium lh-sm bg-danger rounded-m"
                  >必填</span
                >
              </div>
            </div>
            <!-- 職旅計劃概況表單 -->
            <div class="col-8">
              <div>
                <div>
                  <h3 class="fw-normal fs-6 lh-base mb-2">目前職業狀態</h3>
                </div>
                <div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="current-career-status"
                      id="Full-time"
                      value="Full-time"
                      checked
                    />
                    <label class="form-check-label fs-7" for="Full-time"
                      >全職上班族</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="current-career-status"
                      id="part-time"
                      value="part-time"
                    />
                    <label class="form-check-label fs-7" for="part-time"
                      >兼職工作者</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="current-career-status"
                      id="freelancer"
                      value="freelancer"
                    />
                    <label class="form-check-label fs-7" for="freelancer"
                      >自由工作者/接案者</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="digital-nomad"
                      id="digital-nomad"
                      value="option1"
                    />
                    <label class="form-check-label fs-7" for="digital-nomad"
                      >數位遊牧者</label
                    >
                  </div>
                  <div class="w-100"></div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="current-career-status"
                      id="entrepreneurs"
                      value="entrepreneurs"
                    />
                    <label class="form-check-label fs-7" for="entrepreneurs"
                      >創業者/企業主</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="current-career-status"
                      id="unemployed"
                      value="unemployed"
                    />
                    <label class="form-check-label fs-7" for="unemployed"
                      >待業中</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="current-career-status"
                      id="others"
                      value="others"
                    />
                    <label class="form-check-label fs-7" for="others"
                      >其他</label
                    >
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <select
                  class="form-select form-select-lg fs-6"
                  name="job-industry"
                  aria-label=".form-select-lg example"
                >
                  <option selected value="job-industry">工作產業</option>
                  <option value="technology">科技</option>
                  <option value="media">媒體</option>
                  <option value="education">教育</option>
                  <option value="finance">金融</option>
                  <option value="healthcare">醫療健康</option>
                  <option value="sale">零售製造</option>
                  <option value="services">服務業</option>
                  <option value="art">藝術創意</option>
                  <option value="non-profit">非營利組織</option>
                </select>
              </div>
              <div class="mb-4">
                <select
                  class="form-select form-select-lg fs-6"
                  name="work-experience"
                  aria-label=".form-select-lg example"
                >
                  <option selected value="work-experience">工作年資</option>
                  <option value="technology">1 年以下</option>
                  <option value="media">1-3 年</option>
                  <option value="education">3-5 年</option>
                  <option value="finance">5-10 年</option>
                  <option value="healthcare">10 年以上</option>
                </select>
              </div>
              <!-- 月收入區間 -->
              <div>
                <div>
                  <h3 class="fw-normal fs-6 lh-base mb-2">月收入區間</h3>
                </div>
                <div>
                  <div class="form-check form-check-inline mb-4">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="monthly-income-range"
                      id="below-3w"
                      value="below-3w"
                      checked
                    />
                    <label class="form-check-label fs-7" for="below-3w"
                      >3萬以下</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-4">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="cmonthly-income-range"
                      id="3w-5w"
                      value="3w-5w"
                    />
                    <label class="form-check-label fs-7" for="3w-5w"
                      >3-5萬</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-4">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="monthly-income-range"
                      id="5w-8w"
                      value="5w-8w"
                    />
                    <label class="form-check-label fs-7" for="5w-8w"
                      >5-8萬</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-4">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="monthly-income-range"
                      id="8w-12w"
                      value="8w-12w"
                    />
                    <label class="form-check-label fs-7" for="8w-12w"
                      >8-12萬</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-4">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="monthly-income-range"
                      id="12w-20w"
                      value="12w-20w"
                    />
                    <label class="form-check-label fs-7" for="12w-20w"
                      >12-20萬</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-4">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="monthly-income-range"
                      id="20w"
                      value="20w"
                    />
                    <label class="form-check-label fs-7" for="20w"
                      >20萬以上</label
                    >
                  </div>
                </div>
              </div>
              <!-- 職業摘要 -->
              <div class="mb-4">
                <textarea
                  class="form-control form-select-lg placedholder resize-none"
                  id="career-summary"
                  rows="5"
                  placeholder="職業摘要（簡短描述您的專業背景和核心競爭力最多 300 字）"
                  maxlength="300"
                ></textarea>
              </div>
              <!-- 作品案例展示 -->
              <div class="mb-4">
                <input
                  class="form-control form-control-lg placedholder"
                  type="text"
                  placeholder="作品案例展示"
                  aria-label=".form-control-lg example"
                />
              </div>
              <div class="mb-6">
                <div>
                  <h3 class="fw-normal fs-6 lh-base mb-2">附件檔案</h3>
                </div>
                <button
                  type="button"
                  class="btn btn-third d-flex justify-content-center align-items-center me-4 border border-1 border-gray-300 rounded-xl"
                >
                  <span class="material-symbols-outlined me-1 fs-5">
                    upload
                  </span>

                  <span>上傳檔案</span>
                </button>
              </div>
            </div>
          </div>

          <!-- 職涯規劃 -->
          <div class="row border-bottom mb-6">
            <div class="col-4">
              <div class="mb-3">
                <h2 class="fs-3 fw-medium lh-sm">職涯規劃</h2>
              </div>
              <div class="d-flex">
                <p class="me-1 mb-0 text-gray-600">欄位皆為</p>
                <span
                  class="px-2 py-1 fs-7 text-white fw-medium lh-sm bg-danger rounded-m"
                  >必填</span
                >
              </div>
            </div>
            <div class="col-8">
              <!-- 1 年短期職涯目標 -->
              <div class="mb-4">
                <textarea
                  class="form-control form-select-lg placedholder resize-none"
                  id="career-summary"
                  rows="5"
                  placeholder="1 年短期職涯目標（最多 300 字）"
                  maxlength="300"
                ></textarea>
              </div>
              <!-- 1-3 年中長期職涯願景 -->
              <div class="mb-4">
                <textarea
                  class="form-control form-select-lg placedholder resize-none"
                  id="career-summary"
                  rows="5"
                  placeholder="1-3 年中長期職涯願景（最多 300 字）"
                  maxlength="300"
                ></textarea>
              </div>
              <!-- 理想工作模式 -->
              <div>
                <div>
                  <h3 class="fw-normal fs-6 lh-base mb-2">理想工作模式</h3>
                </div>
                <div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="ideal-working-mode"
                      id="fixed-office"
                      value="fixed-office"
                      checked
                    />
                    <label class="form-check-label fs-7" for="fixed-office"
                      >固定辦公室工作</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="ideal-working-mode"
                      id="hybrid-work"
                      value="hybrid-work"
                    />
                    <label class="form-check-label fs-7" for="hybrid-work"
                      >混合式工作(辦公室+遠端)</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="ideal-working-mode"
                      id="fully-remote"
                      value="fully-remote"
                    />
                    <label class="form-check-label fs-7" for="fully-remote"
                      >完全遠端工作(固定地點)</label
                    >
                  </div>
                  <div class="w-100"></div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="ideal-working-mode"
                      id="digital-nomadism"
                      value="digital-nomadism"
                    />
                    <label class="form-check-label fs-7" for="digital-nomadism"
                      >數位遊牧(邊工作邊旅行)</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="radio"
                      name="ideal-working-mode"
                      id="others"
                      value="others"
                    />
                    <label class="form-check-label fs-7" for="others"
                      >其他(請說明)</label
                    >
                  </div>
                </div>
              </div>
              <!-- 目標薪資/收入 -->
              <div class="mb-4">
                <input
                  class="form-control form-control-lg placedholder"
                  type="text"
                  placeholder="目標薪資/收入"
                  aria-label=".form-control-lg example"
                />
              </div>
              <!-- 目前面臨的職涯挑戰 -->
              <div>
                <div>
                  <h3 class="fw-normal fs-6 lh-base mb-2">
                    目前面臨的職涯挑戰
                  </h3>
                </div>
                <div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="career-challenges"
                      id="unclear-direction"
                      value="unclear-direction"
                      checked
                    />
                    <label class="form-check-label fs-7" for="unclear-direction"
                      >方向不明確</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="career-challenges"
                      id="skills-improved"
                      value="skills-improved"
                    />
                    <label class="form-check-label fs-7" for="skills-improved"
                      >技能需要提升</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="career-challenges"
                      id="unstable-income"
                      value="unstable-income"
                    />
                    <label class="form-check-label fs-7" for="unstable-income"
                      >收入不穩定</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="career-challenges"
                      id="customer-development"
                      value="customer-development"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="customer-development"
                      >客戶開發困難</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="career-challenges"
                      id="time-management"
                      value="time-management"
                    />
                    <label class="form-check-label fs-7" for="time-management"
                      >時間管理問題</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="career-challenges"
                      id="work-life-imbalance"
                      value="work-life-imbalance"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="work-life-imbalance"
                      >工作生活失衡</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="career-challenges"
                      id="personal-connections"
                      value="personal-connections"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="personal-connections"
                      >缺乏人脈資源</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="career-challenges"
                      id="others"
                      value="others"
                    />
                    <label class="form-check-label fs-7" for="others"
                      >其他(請說明)</label
                    >
                  </div>
                </div>
              </div>
              <!-- 期望獲得的協助與資源 -->
              <div>
                <div>
                  <h3 class="fw-normal fs-6 lh-base mb-2">
                    期望獲得的協助與資源
                  </h3>
                </div>
                <div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="assistance-resources"
                      id="career-direction"
                      value="career-direction"
                      checked
                    />
                    <label class="form-check-label fs-7" for="career-direction"
                      >職涯方向指導</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="assistance-resources"
                      id="skills-improvement"
                      value="skills-improvement"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="skills-improvement"
                      >專業技能提升建議</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="assistance-resources"
                      id="personal-brand"
                      value="personal-brand"
                    />
                    <label class="form-check-label fs-7" for="personal-brand"
                      >個人品牌建立</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="assistance-resources"
                      id="strategy-pricing"
                      value="strategy-pricing"
                    />
                    <label class="form-check-label fs-7" for="strategy-pricing"
                      >接案策略與定價</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="assistance-resources"
                      id="customer-development-method"
                      value="customer-development-method"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="customer-development-method"
                      >客戶開發方法</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="assistance-resources"
                      id="financial-planning"
                      value="financial-planning"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="financial-planning"
                      >財務規劃</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="assistance-resources"
                      id="time-management-system"
                      value="time-management-system"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="time-management-system"
                      >時間管理系統</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="assistance-resources"
                      id="work-life-balance"
                      value="work-life-balance"
                    />
                    <label class="form-check-label fs-7" for="work-life-balance"
                      >工作生活平衡</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="assistance-resources"
                      id="others"
                      value="others"
                    />
                    <label class="form-check-label fs-7" for="others"
                      >其他(請說明)</label
                    >
                  </div>
                </div>
              </div>
              <!-- 感興趣的服務方案 -->
              <div>
                <div>
                  <h3 class="fw-normal fs-6 lh-base mb-2">感興趣的服務方案</h3>
                </div>
                <div>
                  <div class="form-check form-check-inline mb-4">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="service-projects"
                      id="explore-positioning"
                      value="explore-positioning"
                      checked
                    />
                    <label
                      class="form-check-label fs-7"
                      for="explore-positioning"
                      >探索定位</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-4">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="service-projects"
                      id="customized-solutions"
                      value="customized-solutions"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="customized-solutions"
                      >客製化方案</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-4">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="service-projects"
                      id="practical-guidance"
                      value="practical-guidance"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="practical-guidance"
                      >實戰指導</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 專業技能區塊 -->
          <div class="row border-bottom mb-6">
            <div class="col-4">
              <div class="mb-3">
                <h2 class="fs-3 fw-medium lh-sm">專業技能區塊</h2>
              </div>
              <div class="d-flex">
                <p class="me-1 mb-0 text-gray-600">欄位皆為選填</p>
              </div>
            </div>
            <div class="col-8">
              <!-- 核心專業領域 -->
              <div class="mb-4">
                <div>
                  <h3 class="fw-normal fs-6 lh-base mb-2">核心專業領域</h3>
                </div>
                <div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="core-expertise"
                      id="design-creativity"
                      value="design-creativity"
                      checked
                    />
                    <label class="form-check-label fs-7" for="design-creativity"
                      >設計/創意</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="core-expertise"
                      id="technology-development"
                      value="technology-development"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="technology-development"
                      >科技/程式開發</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="assistance-resources"
                      id="marketing-pr"
                      value="marketing-pr"
                    />
                    <label class="form-check-label fs-7" for="marketing-pr"
                      >行銷/公關</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="core-expertise"
                      id="content-creation"
                      value="content-creation"
                    />
                    <label class="form-check-label fs-7" for="content-creation"
                      >內容創作/寫作</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="core-expertise"
                      id="consulting-advisory"
                      value="consulting-advisory"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="consulting-advisory"
                      >顧問/諮詢</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="core-expertise"
                      id="business-administration"
                      value="business-administration"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="business-administration"
                      >商業/管理</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="acore-expertise"
                      id="finance-accounting"
                      value="finance-accounting"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="finance-accounting"
                      >財務/會計</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="core-expertise"
                      id="education-training"
                      value="education-training"
                    />
                    <label
                      class="form-check-label fs-7"
                      for="education-training"
                      >教育/培訓</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="core-expertise
"
                      id="legal-compliance"
                      value="legal-compliance"
                    />
                    <label class="form-check-label fs-7" for="legal-compliance"
                      >法律/合規</label
                    >
                  </div>
                  <div class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input w20-h20"
                      type="checkbox"
                      name="core-expertise"
                      id="health-medical"
                      value="health-medical"
                    />
                    <label class="form-check-label fs-7" for="health-medical"
                      >健康/醫療</label
                    >
                  </div>
                </div>
              </div>
              <!-- 專業背景和核心競爭力（最多300字） -->
              <div class="mb-4">
                <textarea
                  class="form-control form-select-lg placedholder resize-none"
                  id="career-summary"
                  rows="5"
                  placeholder="專業背景和核心競爭力（最多300字）"
                  maxlength="300"
                ></textarea>
              </div>
              <!-- 專業技能（最多300字） -->
              <div class="mb-4">
                <textarea
                  class="form-control form-select-lg placedholder resize-none"
                  id="career-summary"
                  rows="5"
                  placeholder="專業技能（最多300字）"
                  maxlength="300"
                ></textarea>
              </div>
              <!-- 語文能力（最多300字） -->
              <div class="mb-4">
                <textarea
                  class="form-control form-select-lg placedholder resize-none"
                  id="career-summary"
                  rows="5"
                  placeholder="語文能力（最多300字）"
                  maxlength="300"
                ></textarea>
              </div>
              <!-- 資格證照（最多300字） -->
              <div class="mb-4">
                <textarea
                  class="form-control form-select-lg placedholder resize-none"
                  id="career-summary"
                  rows="5"
                  placeholder="資格證照（最多300字））"
                  maxlength="300"
                ></textarea>
              </div>
            </div>
          </div>

          <!-- 教育背景 -->
          <div class="row mb-6">
            <div class="col-4">
              <div class="mb-3">
                <h2 class="fs-3 fw-medium lh-sm">教育背景</h2>
              </div>
              <div class="d-flex">
                <p class="me-1 mb-0 text-gray-600">欄位皆為選填</p>
              </div>
            </div>
            <div class="col-8">
              <div class="mb-4">
                <!-- 學歷背景（最多500字） -->
                <div class="mb-4">
                  <textarea
                    class="form-control form-select-lg placedholder resize-none"
                    id="career-summary"
                    rows="5"
                    placeholder="學歷背景（最多500字）"
                    maxlength="500"
                  ></textarea>
                </div>
                <!-- 專業培訓與工作坊（最多500字） -->
                <div class="mb-4">
                  <textarea
                    class="form-control form-select-lg placedholder resize-none"
                    id="career-summary"
                    rows="5"
                    placeholder="專業培訓與工作坊（最多500字）"
                    maxlength="500"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center align-items-center">
            <button
              type="button"
              class="btn btn-third d-flex justify-content-center align-items-center me-4 border border-1 border-gray-300 rounded-xl"
            >
              <span>匯出 PDF</span>
              <span class="material-symbols-outlined me-1 fs-5">
                <span class="material-symbols-outlined">
                  <span class="material-symbols-outlined">
                    <span class="material-symbols-outlined">
                      chevron_right
                    </span>
                  </span>
                </span>
              </span>
            </button>
            <button
              type="button"
              class="btn btn-dark d-flex justify-content-center align-items-center me-4 border border-1 border-gray-300 rounded-xl"
            >
              <span>儲存更新</span>
              <span class="material-symbols-outlined me-1 fs-5">
                <span class="material-symbols-outlined">
                  <span class="material-symbols-outlined"> chevron_right </span>
                </span>
              </span>
            </button>
          </div>
        </form>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
